<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      li {
        margin-right: 20px;
        font-size: small;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      h3 {
        font-weight: normal;
        text-align: center;
      }
      .delete, input[type=submit].delete {
        padding: 3px;
        background-color: white;
        border: none;
        display: inline-block;
        color: red;
        text-decoration-color: none;
      }
      .delete:hover, input[type=submit].delete:hover {
        cursor: pointer;
        background-color: red;
        color: white;
      }
    </style>
  </head>
  <body>
    <% include layout/nav %>
 
    <h1><%= title %></h1>
    <form action="/day" method="POST">
        <label for="date">date</label>
        <input type="date" name="date" id="date" value="2020-03-17">
        <br>
        <label for="variable">variable</label>
        <input type="text" name="variable" id="variable" value="5e3316671c71657e18823380">
        <br>
        <label for="start_time">start_time</label>
        <input type="time" name="start_time" id="start_time" value="01:00">
        <br>
        <label for="end_time">end_time</label>
        <input type="time" name="end_time" id="end_time" value="02:00">
        <br>
        <label for="full_category">full_category</label>
        <input type="text" name="full_category" id="full_category" value="b.a.w.6003">
        <br>
        <input type="submit" value="add">
    </form>

    <h3><%= days.length %> documents </h3>
    <ul>
    <% days.forEach ((day, i) => { %>
      <li>
        <a href="/day/<%= day.date %> ">[<%=i%>]..<%= day._id.toString().slice(-5) %> </a>
        <!-- <a href="/day/<%= day.date %> "><%= day.date.toDateString() %> </a> -->
        <form action="/day/<%= day._id %>/delete" method="POST">
          <input type="submit" class="delete" value="x">
        </form>
      </li>
    <% }); %>
    </ul>
  </body>
</html>
